.singleAd {
    /* border: 1px solid lightgray; */
    padding: 25px;
    margin-bottom: 25px;
    /* background-color: white; */
    /* border-radius: 15px; */
    display: grid;
    grid-template-columns: 300px auto;
    cursor: pointer;
}

.singleAd:hover {
    box-shadow: 0 0 2px 2px rgba(95, 95, 95, 0.114);
}

.ad-info {
    margin-left: 20px;
}

.ad-info  h4, h5 {
    font-weight: 500;
}

.ad-info h5 {
    color: #805FA8;
    margin-top: 5px
}

.badge {
    font-weight: 400 !important;
    font-size: 12px;
}