.smart-marketing-section {
    background-color: #406984;
    padding: 45px;
    margin: 35px 0;
    display: flex;
    align-items: center;
    border-radius: 30px;
    box-shadow:  0 0 7px 0 rgba(0, 0, 0, 0.12);
}